* {
  font-family: Inter;
  box-sizing: border-box;
}
.section {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
nav ul li {
  font-size: 1rem;
}
nav ul li:hover {
  color: #252432;
}
.text-secondary {
  color: #8987a1;
  font-size: 22px;
}
.noto-serif {
  font-family: Noto Serif;
}
.colored-title {
  font-family: Noto Serif;
  color: #e95a08;
}
.flower-lover-bg {
  background: url(assets/flower-store.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.text-primary {
  font-family: Noto Serif;
  font-size: 3.75rem;
  font-weight: 700;
}
.bloom,
.ana {
  height: 206px;
}
.zabo {
  height: 100%;
}
.ana {
  background: linear-gradient(#00000073, #00000073), url(assets/deal-ana.png);
}
.zabo {
  background: linear-gradient(#00000073, #00000073), url(assets/deal-zabo.png);
}
.bloom {
  background: linear-gradient(#00000073, #00000073), url(assets/deal-bloom.png);
}
.bloom,
.ana,
.zabo,
.email {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 14px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email {
  border-radius: 0;
  background: url(assets/news-letter-bg.png);
  background-size: cover;
  box-sizing: content-box;
}

@media screen and (max-width: 640px) {
  .section {
    margin-left: 20px;
    margin-right: 20px;
  }
  .text-primary {
    font-size: 24px;
  }
  .text-secondary {
    font-size: 14px;
  }
  .bloom,
  .ana,
  .zabo {
    height: 184px;
  }
}
