* {
  font-family: Inter;
  box-sizing: border-box;
}
nav ul li:hover {
  color: #252432;
}
.text-secondary {
  color: #8987a1;
}
.noto-serif {
  font-family: Noto Serif;
}
.colored-title {
  font-family: Noto Serif;
  color: #e95a08;
}
.flower-lover-bg {
  background: url(assets/flower-store.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 640px) {
  .trusted-img {
    display: none;
  }
}
